
$utilities: map-merge(
  $utilities,
  (
    "text-shadow": (
      property: text-shadow,
      class: text-shadow,
      values: (
        null: var(--#{$prefix}box-shadow),
        sm: var(--#{$prefix}box-shadow-sm),
        lg: var(--#{$prefix}box-shadow-lg),
        none: none,
      )
    )
  )
);
